form {
  font-size: 16px;
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
}

.input {
  font-size: 16px;
  line-height: 1.5;
  width: calc(100% - 30px);
  padding: 6px 12px;
  margin: 6px 0 0 0;
  border: thin solid #dee2e6;
  border-radius: 6px;
}

.input:focus {
  outline: thin solid #0d6efd;
}

.name {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 16px;
}

.selectGroup {
  display: flex;
}

.select {
  height: 38px;
}

.selectCountry {
  width: 45%;
  margin: 0;
}

.selectState {
  width: 40%;
  margin: 0;
}

.inputZip {
  width: 30%;
  margin: 0;
}

.checkGroup {
  text-align: start;
}

#shipping,
#saveInfo {
  margin: 0 8px 0 0;
}

.btn {
  font-size: 20px;
  line-height: 1.5;
  padding: 8px 16px;
  width: 100%;
  color: white;
  background-color: #0d6efd;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.mutedText {
  color: #6d6d6d;
}

.borderBottom {
  padding: 0 0 24px 0;
  margin: 0 0 24px 0;
  border-bottom: thin solid #bebebe;
}

@media (max-width: 576px) {
  .name,
  .selectGroup {
    display: block;
  }

  .selectCountry,
  .selectState,
  .inputZip {
    width: 100%;
    margin: 0 0 16px 0;
  }

  .select {
    width: 100%;
  }
}
