.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #212529;
  padding: 20px 30px;
}

.header > h3 {
  margin: 0;
}

.navLink {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.navLink:hover {
  color: #e7e7e7;
  text-decoration: underline;
}
